#blog {
  width: 90vw;
  max-width: 117rem;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 12rem;
}

#blog header{
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
}

#blog header > div {
  max-width: 57rem;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

#blog header h1 {
  color: var(--color-yellow);
  margin-bottom: 2rem;
}

#blog header p {
  color: var(--color-yellow);
}

#blog section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blog section > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7rem;
  row-gap: 7rem;
  margin: 12rem;
}

#blog section .button {
  max-width: 23rem;
  max-height: 6rem;
  height: 100%;
  width: 100%;
  background-color: var(--color-yellow);
  color: #FFF;
}

#blog section .button:hover {
  filter: brightness(.8);
}

#blog .line {
  margin-top: 16rem;
}

@media (max-width: 1170px){
  #blog section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
    row-gap: 7rem;
    margin: 12rem;
  }
}

@media (max-width: 840px){
  #blog section > div {
    column-gap: 4rem;
    row-gap: 4rem;
  }
}

@media (max-width: 750px){
  #blog section > div {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  #blog section > div .post-card {
    margin: 1.6rem 0;
  }

  #blog {
    margin-top: 6rem;
  }
}