#carousel {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

#carousel .slide {
  width: 100%;
  opacity: 0;
  position: absolute;
}

#carousel .portfolio-box {
  margin-top: 0;
  width: 100vw;
}

#carousel .slide.active {
  opacity: 1;
}

#carousel .dots {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 8rem;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#carousel .dot {
  height: 1.6rem;
  width: 1.6rem;
  background-color: var(--color-purple-dark);
  z-index: 1;
  cursor: pointer;
  transition: filter 0.3s;
  border-radius: 50%;
  margin: 0 0.4rem;
}

#carousel .dot:hover,
#carousel .dot.active {
  filter: brightness(1.4);
}

#carousel .arrow {
  height: 100%;
  width: 8rem;
  z-index: 1;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#carousel .arrow.left {
  align-items: flex-end;
}

#carousel .arrow.right {
  align-items: flex-start;
}

#carousel .arrow svg {
  height: 80%;
  width: 80%;
  transition: height 0.3s, width 0.3s;
}

#carousel .arrow:hover svg {
  height: 100%;
  width: 100%;
}

#carousel .arrow.left:hover {
  animation-name: arrow-left;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#carousel .arrow.right:hover {
  animation-name: arrow-right;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#carousel .arrow.left {
  position: absolute;
  top: 0;
  left: 0;
}

#carousel .arrow.right {
  position: absolute;
  top: 0;
  right: 0;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes arrow-left {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: linear-gradient(
      to right,
      var(--color-purple-dark),
      rgba(0, 0, 0, 0)
    );
  }
}

@keyframes arrow-right {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: linear-gradient(
      to left,
      var(--color-purple-dark),
      rgba(0, 0, 0, 0)
    );
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}
