:root {
  --color-background: #07021D;
  --color-purple-dark: #6D2AC6;
  --color-purple: #8A5AC9;
  --color-aquagreen: #1FF7D0;
  --color-blue: #0BC4FF;
  --color-green: #58DF75;
  --color-pink: #FF005C;
  --color-yellow: #FF9E0D;
  --color-yellow-light: #F1AB41;
  --color-grey: #A2AEBE;
  --color-grey-light: #EEEEEE;

  font-size: 60%;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input, 
button,
textarea {
  font: 400 1.8rem "Roboto", sans-serif;
  color: var(--color-grey-light);
}

p {
  font: 400 1.8rem "Open Sans", sans-serif;
  line-height: 3.2rem;
  color: var(--color-grey);
}

h1, h2, h3, h4, h5, h6 {
  font: 700 3.6rem "Roboto", sans-serif;
}

.container {
  width: 90vw;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    width: 90vw;
    max-width: 760px;
  }

  p {
    font: 400 1.6rem "Open Sans", sans-serif;
    line-height: 3.2rem;
    color: var(--color-grey);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font: 700 3.2rem "Roboto", sans-serif;
  }
}

.button {
  max-height: 5.0rem;
  min-height: 4.4rem;
  max-width: 18.0rem;
  min-width: 12.0rem;
  padding: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-grey-light);
  background-color: var(--color-purple-dark);
  transition: filter .2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  filter: brightness(1.1);
}

.line {
  height: 0.3rem;
  width: 100%;
}

.line.grey {
  background: radial-gradient(50% 50% at 50% 50%, #A2AEBE 0%, rgba(187, 84, 158, 0) 100%);
}

.line.yellow {
  background: radial-gradient(50% 50% at 50% 50%, #FF9E0D 0%, rgba(187, 84, 158, 0) 100%);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}